CLIENT ONBOARDING SYSTEM.json
{
  "name": "CLIENT ONBOARDING SYSTEM",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "=Welcome to PRVN Digital {{ $('On form submission').item.json.Name }}- Your Onboarding is Complete!",
        "emailType": "text",
        "message": "=Hi {{ $('On form submission').item.json.Name }},\n\nWelcome aboard! We’re excited to partner with you and your team to help scale your business with AI-powered systems.\n\nYour project workspace is live, and we’ve already kicked off the initial project scoping.\n\nYou should be recieving invites to the following:\n\nSlack – Our main communication hub\n\nClickUp – For tracking project tasks and progress\n\nGoogle Drive – For sharing and accessing all related assets\n\nNext Steps\nUpload any relevant documentation here:\n[Google Drive Folder](https://drive.google.com/drive/u/0/folders/{{ $('Create Main Client Folder').item.json.id }})\n\nSchedule your onboarding call:\nhttps://go.oncehub.com/AgentStackClientOnboarding\n\nSit tight—we’ll review your uploads before the call and come prepared with next-step recommendations.\n\nIf you need anything or have questions in the meantime, feel free to reach out anytime.\n\nLooking forward to what we’ll build together.\n\nBest,\nNolan Harper\nFounder, Agent Stack\nwww.agent-stack.ai",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "950ff141-b260-439d-9162-d1e1933c4e52",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2460,
        40
      ],
      "webhookId": "08dd43fe-2d72-4b26-a91e-02e0f99c0725"
    },
    {
      "parameters": {
        "formTitle": "Client Onboarding Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "placeholder": "Your Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name",
              "placeholder": "Company Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Website",
              "placeholder": "Website url",
              "requiredField": true
            },
            {
              "fieldLabel": "Proposal/Scope Document",
              "fieldType": "file",
              "acceptFileTypes": "drop the proposal here",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        900,
        -80
      ],
      "id": "d8078ba5-89bb-41f6-9592-bd354e7ecb5a",
      "name": "On form submission",
      "webhookId": "07797034-7340-43cb-8ea2-6afa1b05ddd4"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "channel",
        "channelId": "={{ $('On form submission').item.json['Company Name'].replace(/\\s+/g, '_').toLowerCase() + '_channel' }}"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1980,
        140
      ],
      "id": "65f1d2fb-2757-4ea3-8eb8-672ca0b55300",
      "name": "Slack | Create Channel",
      "webhookId": "17a1668c-e749-44ca-abd2-89dda54ad0ef",
      "executeOnce": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "text": "=🎉 Welcome {{ $('On form submission').item.json.Name }}! 🎉\n\nWe’re excited to have you on board and can’t wait to dive in!\n\nThis channel will be our main hub for communication throughout the project. Feel free to drop any questions, updates, or files here — we’ll do the same on our end. We’re here to support you every step of the way.\n\nTo get things rolling, we’ll be:\n✅ Sharing your onboarding checklist\n✅ Setting up our kickoff call\n✅ Walking through next steps and deliverables\n\nIf you ever need anything, just tag us here — we’ve got you covered.\n\nLet’s make some magic happen! 🚀\n\n— Lucy",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2220,
        140
      ],
      "id": "be053650-f882-4df2-aa98-c0261a30f3b1",
      "name": "Slack | Post Message",
      "webhookId": "04e02f40-5671-47a3-b27f-332b91ed1e43"
    },
    {
      "parameters": {
        "content": "## 🔧 Configuration Notes\n\n**Before using this workflow**:\n\n1. **Google Drive**: \n   - Set up OAuth2 credentials\n   - Ensure account has folder creation permissions\n\n2. **ClickUp**:\n   - Get API token from ClickUp settings\n   - Update `templateId` with your actual template ID\n   - Verify workspace permissions\n\n3. **Slack**:\n   - Create Slack app with bot permissions\n   - Add OAuth scopes: channels:write, chat:write, users:read.email\n\n4. **Email (SMTP)**:\n   - Configure SMTP credentials for internal notifications\n   - Update recipient email address",
        "height": 520,
        "width": 1680,
        "color": 3
      },
      "id": "ec69ea6c-2d87-4cfd-af2b-7b1a04596306",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        -640
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        360
      ],
      "id": "39591a7b-ad05-40c2-9c48-a617861d975b",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Rename Doc').item.json.projectInformation }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Overview  \nYou are an AI onboarding agent responsible for reviewing a proposal and scoping document for a new client. Your job is to extract a comprehensive list of actionable tasks, assign appropriate task titles, estimate durations, and generate due dates accordingly. The final output will be used to populate a ClickUp folder for the team to begin onboarding activities.\n\n## Context  \n- Input is provided as a plain text string containing the proposal and scoping document.  \n- You are operating in US Central Time.  \n- The current date and time must be noted in each output to calculate due dates.  \n- All due dates should be in MM/DD/YYYY format.  \n- Tasks should be based on standard estimated durations unless otherwise specified in the document.  \n- The task list should be detailed, ideally including 20 to 30 to-do items to cover every minor and major step involved.  \n\n## Instructions  \n1. Read and analyze the scoping document contents.  \n2. Break down the onboarding process into detailed subtasks.  \n3. For each task:\n   - Create a clear, concise title.  \n   - Write a description with enough detail to guide execution.  \n   - Estimate and apply a duration from today’s date.  \n   - Format the due date as MM/DD/YYYY.  \n4. Structure the output to be easily transferable into ClickUp.  \n5. Begin the output with the current date and time in US Central Time.  \n\n## Tools  \n- Internal clock set to US Central Time  \n- Text parser to extract and organize tasks  \n- Predefined duration rules (if not provided, use default estimates per task type)  \n\n## Examples  \n- Input: \"Initial strategy alignment call and documentation setup expected within first 3 days.\"  \n- Output:\n  - **Current Date and Time:** 06/20/2025 10:30 AM (US Central)  \n  - **Task 1**  \n    - Title: \"Book Strategy Alignment Call\"  \n    - Description: Coordinate and schedule a kickoff call with the client to discuss strategy.  \n    - Due Date: 06/21/2025  \n  - **Task 2**  \n    - Title: \"Create Strategy Notes Document\"  \n    - Description: Prepare a shared document to collect notes and agreements from the alignment call.  \n    - Due Date: 06/23/2025  \n\n## SOP (Standard Operating Procedure)  \n1. Capture the current date and time in US Central Time.  \n2. Parse the document and extract all major and minor tasks implied or directly mentioned.  \n3. Expand each process into granular to-dos (20–30 items).  \n4. Assign a title, detailed description, and calculated due date for each task.  \n5. Ensure output is formatted cleanly for ClickUp import.\n\n## Final Notes  \n- Default duration is 2 days unless otherwise indicated.  \n- If a task's due date falls on a weekend, roll it forward to the next weekday.  \n- Focus on actionable and sequential items: tool setup, access requests, documentation, meetings, integrations, QA, testing, etc.  \n- Each task should represent a unique and independent step in the onboarding flow.  \n---\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1140,
        160
      ],
      "id": "aa6d6830-23d4-4d06-9a76-485f65b01130",
      "name": "Segment Tasks"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"current_datetime\": \"06/20/2025 10:30 AM\",\n  \"timezone\": \"US Central\",\n  \"tasks\": [\n    {\n      \"title\": \"Client Workspace Setup\",\n      \"description\": \"Set up client workspace including email, Slack, and Google Drive access.\",\n      \"due_date\": \"06/22/2025\"\n    },\n    {\n      \"title\": \"Kickoff Call Scheduling\",\n      \"description\": \"Schedule and confirm kickoff call with the client and internal team.\",\n      \"due_date\": \"06/23/2025\"\n    },\n    {\n      \"title\": \"Access Credentials Request\",\n      \"description\": \"Request all necessary credentials from the client (CRM, website, analytics, etc.).\",\n      \"due_date\": \"06/21/2025\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1340,
        360
      ],
      "id": "742061a9-544f-4a78-95c9-36ad39718a61",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1500,
        160
      ],
      "id": "e1e4e09e-3cf4-4f82-8f1c-305775e1ef25",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "90131588784",
        "space": "90136661736",
        "folder": "={{ $('ClickUp | Create Folder').item.json.id }}",
        "list": "={{ $('ClickUp | Create List').item.json.id }}",
        "name": "={{ $json.title }}",
        "additionalFields": {
          "assignees": [
            144201222
          ],
          "content": "={{ $json.description }}",
          "dueDate": "={{ $json.due_date }}",
          "priority": 3
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1920,
        340
      ],
      "id": "965d1301-894f-419e-ae79-eb0b7beca254",
      "name": "ClickUp"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1700,
        160
      ],
      "id": "921d845d-fa77-4964-aaca-fdb28a6991eb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ef9b1c6-86b6-43b4-a02d-3250a6f7ba4d",
              "name": "projectInformation",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        -80
      ],
      "id": "6a992bbd-2cb3-4e79-ac6d-3a7fd437cf88",
      "name": "Rename Doc"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Proposal_Scope_Document",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1160,
        -80
      ],
      "id": "fcb39b65-da86-4a98-a892-ffb56ca44dbe",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13bbafe7-47b1-45d5-8ea0-914de02c8e8a",
              "name": "DriveFolderID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1780,
        -80
      ],
      "id": "84e87290-b9e6-47d0-bf06-c8d1a32debea",
      "name": "Rename Folder ID"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "list",
        "operation": "create",
        "team": "90131588784",
        "space": "90136661736",
        "folder": "={{ $json.id }}",
        "name": "= {{ $('On form submission').item.json['Company Name'] }} Onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2180,
        -80
      ],
      "id": "709065c1-142f-4caf-a4a9-ce4ec5c79821",
      "name": "ClickUp | Create List"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "team": "90131588784",
        "space": "90136661736",
        "name": "={{ $('On form submission').item.json['Company Name'] }} | Client Folder"
      },
      "id": "69530451-a249-4af2-b881-b27fd6c33e14",
      "name": "ClickUp | Create Folder",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1980,
        -80
      ],
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('On form submission').item.json['Company Name'] }} | Client Folder",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1BCmaacZxt60OFz2L02wBLJd-AGpIYPNQ",
          "mode": "list",
          "cachedResultName": "Onboardings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BCmaacZxt60OFz2L02wBLJd-AGpIYPNQ"
        },
        "options": {}
      },
      "id": "e9226a5e-4e3e-40a4-9cba-88abdfdda8d8",
      "name": "Create Main Client Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1560,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack | Create Channel": {
      "main": [
        [
          {
            "node": "Slack | Post Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack | Post Message": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Segment Tasks",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Segment Tasks": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Segment Tasks",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Slack | Create Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Doc": {
      "main": [
        [
          {
            "node": "Create Main Client Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Rename Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Folder ID": {
      "main": [
        [
          {
            "node": "ClickUp | Create Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp | Create List": {
      "main": [
        [
          {
            "node": "Segment Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp | Create Folder": {
      "main": [
        [
          {
            "node": "ClickUp | Create List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Main Client Folder": {
      "main": [
        [
          {
            "node": "Rename Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dff943f7-8f89-4628-96eb-44d5210202db",
  "meta": {
    "instanceId": "854b5d5a94f52bf7b570baf2082d87bfd80fd5f5ce23bf9ae5e4393a9f352f98"
  },
  "id": "ZxjNSiiVUcocp1Yj",
  "tags": [
    {
      "createdAt": "2025-07-01T05:01:24.968Z",
      "updatedAt": "2025-07-01T05:01:24.968Z",
      "id": "3soyVMGp6zB6ifF4",
      "name": "onboarding"
    },
    {
      "createdAt": "2025-07-01T05:01:24.982Z",
      "updatedAt": "2025-07-01T05:01:24.982Z",
      "id": "PfSLH2ET1M5oyU6a",
      "name": "Client Onboarding"
    },
    {
      "createdAt": "2025-07-01T05:01:24.993Z",
      "updatedAt": "2025-07-01T05:01:24.993Z",
      "id": "n5RO7U3rGtVLMeNW",
      "name": "automation"
    }
  ]
}